body {
  font-size:12px;
}
#sidebar {
  width:180px;
  /* height:100vh; */
  float:left;
  background-color: #eee;
  padding-left: 24px;
  border-right: 2px solid lightblue;
  display:block;
}
#sidebar-links {
  display:block;
}
#logo {
  width:135px;
  padding-bottom:24px;
}
#top-area {
  width:calc(100vw - 180px);
  height: 80px;
  position: absolute;
  left: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid lightblue;
}
.tab-group {
  display: flex;
}
#tab-area {
  height:40px;
  display: flex;
  justify-content: space-between;
}
#link-list {
  display: flex;
  align-items: center;
  text-align: right;
  padding-right: 20px;
  height: 40px;
  align-self: flex-end;
}
#link-list > div {
  display:inline-block;
  padding: 10px 5px 10px 5px;
}
a {
  display:inherit;
}
.horizontal-line {
  background-color:#ddd;
  width:80%;
  height:2px;
  margin-bottom:5px;
}
.tab {
  /* border: 1px solid lightblue; */
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, lightblue, transparent ) 1;
  border-top: 0;
  border-bottom: 0;
  width: max-content;
  height: 100%;
  min-height: 40px;
  padding: 0px 10px 0px 10px;
  display: flex;  
  justify-content: center;
  align-items: center;
  /* background: rgb(197, 197, 197); */
  background: linear-gradient(to bottom,rgb(255, 255, 255) 0,#a7d7f977 100%);
}

.tab-group:first-child > .tab:first-child {
  border-left: 0;
}

.tab-group:nth-child(2) > .tab:nth-last-child(2) {
  border-left: 0;
}



.tab:first-child {
  border-right: 0;
}
.tab.selected {
  background: white;
}

#search-box {
  width: 20vw;
  margin: 5px;
  margin-right: 22px;
  padding-right: 24px;
}
#search-area {
  display: flex;
}
#search-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 16px;
  background-image: url("../img/search-icon.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

